* {
    text-align: center;
}

.title {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0 0 30px 0;
}

.search {
    margin: 0 auto;
    width: 85vw;
}

input {
    width: 60vw;
    border-radius: 20px;
    height: 40px;
    text-align: left;
}

.search button {
    padding: 10px;
}

.title h1 {
    font-size: 2em;
    padding: 0;
    padding-top: 20px;
    margin: 0;
}

.title img {
    max-width: 80px;
}

hr {
    margin: 20px;
}

.recipe-container {
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.recipe-container img {
    max-width: 100%;
}

.recipe-container p, .recipe-container h2, .rating {
    text-align: left;
}

/* .recipe-container h2 {
    font-size: 2.3em;
} */

/* .recipe-content {
    padding: 20px;
    text-align: left;
}

.type {
    display: inline;
}

.type button {
    background-color: lightgray;
    border: 2px solid black;
    padding: 4px 20px 4px 20px;
    max-width: 15vw;
    font-size: 1.2em;
} */

.rating {
    display: block;
}

.description {
    display: none;
}

.social img {
    max-width: 50px;
}

.social {
    margin: 20px;
}

@media screen and (min-width: 500px) {
    .title {
        font-size: 2em;
    }

    .title img {
        max-width: 100px;
    }

    input {
        width: 70vw;
    }

    .recipe-container {
        flex-direction: row;
    }

    .recipe-container img{
        max-width: 55%;
        max-height: fit-content;
    }

    .description {
        display: block;
    }

    .recipe-container h2 {
        font-size: 1.3em;
    }

    .recipe-content {
        padding: 10px;
        padding-bottom: 0;
        text-align: left;
    }

    .type {
        display: inline;
    }

    .type button {
        background-color: lightgray;
        border: 2px solid black;
        padding: 1px 2px 1px 2px;
        max-width: 20vw;
        font-size: 0.8em;
    }

    .type p {
        margin: 0;
    }

    .description, .rating{
        font-size: .8em;
    }

    footer {
        text-align: left;
        display: inline-block;
        width: 100vw;
    }

    .social {
        float: right;
        text-align: right;
        width: 50vw;
        padding-top: 0px;
        display: block;
    }
}

@media screen and (min-width: 830px) {

    input {
        width: 70vw;
    }

    .recipe-container h2 {
        font-size: 2.3em;
    }

    .recipe-content {
        padding: 20px;
        text-align: left;
    }

    .recipe-content {
        padding: 20px;
        padding-bottom: 0;
        text-align: left;
    }

    .type {
        display: inline;
    }

    .type button {
        background-color: lightgray;
        border: 2px solid black;
        padding: 4px 10px 4px 10px;
        max-width: 20vw;
        font-size: 1.2em;
    }

    .type p {
        margin: 0;
    }

    .description, .rating{
        font-size: 1.1em;
    }

    footer {
        text-align: left;
        display: inline-block;
        width: 100vw;
    }

    .social {
        float: right;
        text-align: right;
        width: 50vw;
        padding-top: 0px;
        display: block;
    }
}