* {
    text-align: center;
}

.title {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0 0 30px 0;
}

.search {
    margin: 0 auto;
    width: 85vw;
}

input {
    width: 60vw;
    border-radius: 20px;
    height: 40px;
    text-align: left;
}

.search button {
    padding: 10px;
}

.title h1 {
    font-size: 2em;
    padding: 0;
    padding-top: 20px;
    margin: 0;
}

.title img {
    max-width: 80px;
}

hr {
    margin: 20px;
}

.recipe-container {
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.recipe-container img {
    max-width: 100%;
}

.recipe-container p, .recipe-container h2, .rating {
    text-align: left;
}

.recipe-content {
    padding: 20px;
}

.type {
    background-color: lightgray;
    border: 2px solid black;
    padding: 2px 20px 2px 20px;
    max-width: 15vw;
    text-align: center;
}

.rating {
    display: block;
}

.social img {
    max-width: 50px;
}

.social {
    margin: 20px;
}

@media screen and (min-width: 500px) {
    
    .title {
        font-size: 2em;
    }

    .title img {
        max-width: 100px;
    }

    input {
        width: 70vw;
    }

    .recipe-container {
        flex-direction: row;
    }

    .recipe-container img{
        max-width: 50%;
    }

    .type {
        max-width: 60px;
        padding: 10px;
    }

    .type p {
        margin: 0;
    }

    footer {
        text-align: left;
        display: inline-block;
        width: 100vw;
    }

    .social {
        float: right;
        text-align: right;
        width: 50vw;
        padding-top: 0px;
        display: block;
    }
}