* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    padding: 0;
}

header {
    background-color: skyblue;
    margin: 0 auto;
    padding: 10px;
}

nav, .hidden {
    display: none;
}

main h1{
    font-size: 1.5em;
    background-color: lightgray;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
}

#menu-btn {
    padding: 10px 100px 10px 100px;
}
.image {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 5px 5px 10px gray;
    margin-bottom: 40px;
    background-color: white;
}

#images {
    padding-bottom: 20px;
    background-color: lightgray;
}

footer {
    background-color: skyblue;
}

@media screen and (min-width: 500px) {
    #images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    #images {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #menu-btn {
        display: none;
    }

    nav, .hidden {
        display: inline-block;
    }
}