body {
    text-align: center;
}

header,
footer {
  max-width: 1000px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: greenyellow;
}

header {
    margin-top: 0;
    background-color: greenyellow;
}

#fullName {
    font-size: 1em;
}

main {
    padding: 0 50px 0 50px;
}

main a {
    margin: 0 auto;
    padding: 1vw;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
}