:root {
    --primary-color: #18e8a8;
    --secondary-color: #111a28;
    --accent1: #648381;
    --accent2: #f24333;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.accent1 {
    color: var(--accent1);
}

.accent2 {
    color: var(--accent2);
}

h4 {
    font-family:'Courier New', Courier, monospace;
}

p {
    font-family:'Times New Roman', Times, serif;
}

.colored {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

img {
    max-width: 300px;
}