:root {
    --primary-color: #18e8a8;
    --secondary-color: #111a28;
    --accent1: #648381;
    --accent2: #f24333;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.accent1 {
    color: var(--accent1);
}

.accent2 {
    color: var(--accent2);
}

h4 {
    font-family:'Courier New', Courier, monospace;
}

p {
    font-family:'Times New Roman', Times, serif;
}

.colored {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

nav {
    background-color: var(--primary-color);
    width: auto;
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5vw;
}

nav img {
    max-width: 100px;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--secondary-color);
}

a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

