* {
    margin: 0;
}

:root {
    --primary-color: #18e8a8;
    --secondary-color: #111a28;
    --accent1: #648381;
    --accent2: #f24333;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.accent1 {
    color: var(--accent1);
}

.accent2 {
    color: var(--accent2);
}

body {
    background-color: var(--secondary-color);
}

nav {
    padding: 1vw;
    font-size: 1.5em;
    background-color: var(--accent1);
    justify-content: space-evenly;
}

nav img {
    max-width: 70px;
}

.enemy-section {
    border: 4px solid var(--accent1);
    border-radius: 5px;
    margin: 20px auto 20px auto;
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.enemy-bg {}

.enemy-img {}

.enemy-stats {
    background-color: #648381;
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.story-section{
    margin: 0 auto;
    border: 4px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--accent1);
    text-align: center;
    padding: 10px;
}

.player-section{}

.player-stats{
    display: flex;
    color: #f24333;
    font-size: 1.5em;
    flex-wrap: wrap;
}

.player-stats p {
    padding: 10px;
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

.actions button {
    padding: 20px 10vw;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    margin: auto;
}

/* must be at bottom */
.hidden {
    display: none;
}
