* {
    margin: 0;
}

:root {
    --primary-color: #18e8a8;
    --secondary-color: #111a28;
    --accent1: #648381;
    --accent2: #f24333;
}

.primary {
    color: var(--primary-color);
}

.secondary {
    color: var(--secondary-color);
}

.accent1 {
    color: var(--accent1);
}

.accent2 {
    color: var(--accent2);
}

body {
    background-color: var(--secondary-color);
}

nav {
    padding: 1vw;
    font-size: 1.5em;
    background-color: var(--accent1);
    justify-content: space-evenly;
}

nav img {
    max-width: 70px;
}

.enemy-section {
    border: 4px solid var(--accent1);
    border-radius: 5px;
    margin: 20px auto;
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: column;
}

.enemy-images{
    position:relative;
    z-index:0;
}

.enemy-bg {
    z-index: -9999;
    width: 90vw;
}

.enemy-img {
    border: 2px solid var(--accent2);
    width: 70vw;
    position:absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.enemy-stats {
    background-color: var(--accent1);
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 1.4em;
}

.story-section{
    margin: 0 auto;
    border: 4px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--accent1);
    text-align: center;
    padding: 10px;
}

.player-section{}

.player-stats{
    display: flex;
    color: #f24333;
    font-size: 1.2em;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 5px;
}

.actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.actions button {
    padding: 20px 10vw;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    margin: auto;
    flex: 1;
}

/* must be at bottom */
.hidden {
    display: none;
}

/* TODO: 
    Tweak dialog
    Tweak player stats
    Flush out enemy styling
    Tweak btns if needed
    Decide if I actually want the player img
*/